{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>CRÉATION DU BON DE LIVRAISON</h1>
    <div class="well">{{ "now"|date(' H:i') }}</div>

    {#CI-DESSOUS FORMULAIRE PROVISOIRE EN ATTENDANT DE METTRE EN PLACE LES LISTENERS#}
    {#<div class="well form">#}
        {#{{ form(form) }}#}
    {#</div>#}

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

             {# Les erreurs générales du formulaire. #}
             {{ form_errors(form) }}

            {# Génération du label + error + widget pour un champ. #}
            {{ form_row(form.dateBl) }}

        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.numeroBl, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.numeroBl) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.numeroBl, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {# Idem pour un autre champ. #}
        <div class="form-group">
            {{ form_label(form.descriptionBl, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.descriptionBl) }}
            <div class="col-sm-10">
                {{ form_widget(form.descriptionBl, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>



        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}


        <div class="bdp">
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {#<div>{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}</div>#}
            <button class="btn btn-success" style="width: 300px; height: 60px">Valider</button>
            {{ form_end(form) }}
        </div>
        {#LE FORMULAIRE DE SAISIE SE TERMINE CI-DESSUS#}

        <a href="{{ path('bl') }}"><button class="btn btn-primary" style="width: 300px; height: 60px">Modifier</button></a>
        <a href="{{ path('accueil') }}"><button class="btn btn-danger" style="width: 300px; height: 60px">Annuler</button></a>
    </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        * {text-align:center;}
        button {
            margin-top: 40px;
        }
    </style>
{% endblock %}