{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
      <div class="well entete">
        <a href="{{ path('accueil') }}" class="entete"><button class="btn btn-primary entete">Revenir sur la page ACCUEIL</button></a>
        <a href="{{ path('bl') }}" class="entete"><button class="btn btn-success entete">Créer un nouveau BON DE LIVRAISON</button></a>
    </div>
    <br>

    <h1>LISTE DES BONS DE LIVRAISON</h1>


    {#ci-dessous la div à imprimer#}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col" id="numbl" name="numbl">N.</th>
                <th scope="col">Description</th>
                <th scope="col">Client</th>
                <th scope="col">Article 1</th>
                <th scope="col">Article 2</th>
                <th scope="col">Article 3</th>
                <th scope="col">Transporteur</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for bls in bl %}
                <tr class="info">
                    <td>{{ bls.dateBdl.format('j/m/Y') }}</td>
                    <th scope="row"><a href="{{ path('blconsult', {'id':bls.id }) }}">{{ bls.id }}</a></th>
                    <td>{{ bls.descriptionBdl }}</td>
                    <td>{{ bls.clientBdl }}</td>
                    <td>{{ bls.quantite1 }} - {{ bls.article1 }}</td>
                    <td>{{ bls.quantite2 }} - {{ bls.article2 }}</td>
                    <td>{{ bls.quantite3 }} - {{ bls.article3 }}</td>
                    <td>{{ bls.transporteurBdl }}</td>
                    <td>
                      <a href="{{ path('pdf', {'id':bls.id } ) }}">
                        <button class="btn btn-warning btn-xs" type="button" name="button">IMPRIMER</button>
                      </a>
                    </td>
                </tr>

            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    {#    ci-dessus la div à imprimer#}

    <div class="row baspage">

        <div class="well">
          <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <style>
        body
            {
                margin:5%;
            }
       header
       {
       text-align: center; !important
       }
        button
            {
                margin-top: 40px;
            }
        .baspage
            {
                text-align: center;
            }
        .entete
            {
                margin: auto;
                text-align: center;
                padding-left: 40px;
            }
      </style>
{% endblock %}
