{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('accueil') }}"><button class="btn btn-primary">Revenir sur la page ACCUEIL</button></a>
    </div>
    <br>

    <h1>LISTE DES BONS DE LIVRAISON</h1>


    {#ci-dessous la div à imprimer#}

    <div class="jumbotron" id="listebl">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col" id="numbl" name="numbl">N.</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Client</th>
                <th scope="col">Société</th>
                <th scope="col">Transporteur</th>
                <th scope="col">Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for bls in bl %}
                <tr>
                    <th scope="row">{{ bls.id }}</th>
                    <td>{{ bls.dateBl.format('j, M Y h:m') }}</td>
                    <td>{{ bls.descriptionBl }}</td>
                    <td>{{ bls.clientBl }}</td>
                    <td>{{ bls.societeBl }}</td>
                    <td>{{ bls.transporteurBl }}</td>
                    <td>{{ bls.quantiteBl }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    {#    ci-dessus la div à imprimer#}

    <div class="row baspage">

        <div class="well">
          <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
          <a href="{{ path('accueil') }}"><button class="btn btn-danger" style="width: 300px; height: 60px">Annuler</button></a>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        body
            {
                margin:5%;
            }
       header
       {
       text-align: center; !important
       }
        button
            {
                margin-top: 40px;
            }
        .baspage
            {
                text-align: center;
            }
    </style>
{% endblock %}
