{% extends 'base.html.twig' %}

{% block body %}
<div class="well">
<h1>BON DE LIVRAISON</h1>
<h2>N. {{ bons.id }} </h2>
<p>{{ "now"|date(' d m Y H:i') }}</p>
<!-- <div class="">numeroBl</div> -->
</div>
    <div class="jumbotron">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">N.</th>
                <th scope="col">N. Pièce</th>
                <th scope="col">Date Pièce</th>
                <th scope="col">Client</th>
                <th scope="col">Société</th>
                <th scope="col">Total HT</th>
                <th scope="col">Total TVA</th>
                <th scope="col">Total TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>{{ "now"|date(' d m Y') }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    {#    ci-dessus la div à imprimer#}

    <div class="row endpage">

        <div class="well">
          <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
          <a href="{{ path('accueil') }}"><button class="btn btn-danger" style="width: 300px; height: 60px">Annuler</button></a>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        body
        {
            margin:5%;
        }
        button {
            margin-top: 40px;
        }
    </style>
{% endblock %}
