{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <h1>LISTE DES FACTURES</h1>


    {#ci-dessous la div à imprimer#}

    <div class="jumbotron" id="listefact">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col" id="numfact" name="numfact">Numero</th>
                <th scope="col">reference</th>
                <th scope="col">Désignation</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total HT</th>
                <th scope="col">Total TTC</th>
            </tr>
            </thead>
            <tbody>
            {% for facts in fact %}
                <tr>
                    <td>{{ facts.dateFacture.format('j, M Y H:i') }}</td>
                    <th scope="row">{{ facts.id }}</th>
                    <td>{{ facts.reference }}</td>
                    <td>{{ facts.designation }}</td>
                    <td>{{ facts.quantite }}</td>
                    <td>{{ facts.totalHt }}</td>
                    <td>{{ facts.totalTtc }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    {#    ci-dessus la div à imprimer#}

    <div class="row baspage">

        <div class="well">
          <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
          <a href="{{ path('accueil') }}"><button class="btn btn-danger" style="width: 300px; height: 60px">Annuler</button></a>
          <a href="{{ path('factures') }}"><button class="btn btn-primary" style="width: 300px; height: 60px">Nouvelle Facture</button></a>

        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <style>
        body
            {
                margin:5%;
            }
       header
       {
       text-align: center; !important
       }
        button
            {
                margin-top: 40px;
            }
        .baspage
            {
                text-align: center;
            }
        .entete
            {
                margin: auto;
                padding-left: 40px;
            }
      </style>
{% endblock %}
