{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

        <div class="row top">
          <div class="col-lg-6">
              <h3>LFB BIOMANUFACTURING</h3>
              <h4>AVENUE DES CHENES ROUGES<br/>30100 ALES</h4>
              <h5>Tél       : 04.66.56.40.80<br/>SIRET     : 49927250800015</h5>
              <br>
          </div>
          <div class="col-lg-6 adresse">
            <p>
              <h4><b>{{ fact.reference }}</h4>
              <h6>{{ fact.reference.adresse1Livraison }}</h6>
              <h6>{{ fact.reference.adresse2Livraison }}<h6>
              <h6>{{ fact.reference.adresse3Livraison }}</h6>
              <h6>{{ fact.reference.codePostal }}<span>-</span>{{ fact.reference.ville }}</h6>
              <h4><b>{{ fact.reference.paysLivraison }}</h4><br>
            </p>
          </div>
        </div>


        <div class="well">
            <h1>FACTURE</h1>
            <h2>N. {{ fact.id }}</h2>
            <h3>Date:  {{ "now"|date(' d M Y') }}</h3>
        </div>
        <div class="jumbotron" id="listefact">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col" id="reffact" name="reffact">Référence</th>
                    <th scope="col">Désignation</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">P.U.HT</th>
                    <th scope="col">Montant HT</th>
                    <th scope="col">TOTAL HT</th>




                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ fact.reference }}</th>
                        <td>{{ fact.designation }}</td>
                        <td>{{ fact.quantite }}</td>
                        <td>{{ fact.puHt }}</td>
                        <td>{{ fact.puHt * fact.quantite}}</td>
                        <td>{{ fact.totalHt }}</td>
                    </tr>
                </tbody>
              </table>
        </div>

        {#    ci-dessus la div à imprimer#}

        <div class="row endpage">

            <div class="well">
              <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
              <a href="{{ path('accueil') }}"><button class="btn btn-danger" style="width: 300px; height: 60px">Annuler</button></a>
            </div>
        </div>
        </div>

{% endblock %}

{% block stylesheets %}
    <style>
        body
        {
            margin:5%;
        }


        td, tbody, th, tr, thead, table, #listefact
        {
          border: solid 1px black;


        }
        .table
        {
            border: solid 1px black;
        }

        .top
        {
            width: 90%;
        }

        .adresse
        {
          margin-bottom: 5%;
              border: solid 2px;
              height: 200px;
        }

        .endpage
        {
          text-align: center;
        }

        button
        {
        }
    </style>
{% endblock %}
