{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="well">
        <h1>FACTURE</h1>
        <h2>N. {{ facts.id }}</h2>
    </div>
    <div class="jumbotron" id="fact">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col" id="numfact" name="numfact">Numero</th>
                  <th scope="col">reference</th>
                  <th scope="col">Désignation</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Total HT</th>
                  <th scope="col">Total TTC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ facts.dateFacture.format('j M Y H:i') }}</td>
                    <th scope="row">{{ facts.id }}</th>
                    <td>{{ facts.reference }}</td>
                    <td>{{ facts.designation }}</td>
                    <td>{{ facts.quantite }}</td>
                    <td>{{ facts.totalHt }}</td>
                    <td>{{ facts.totalTtc }}</td>
                </tr>
            </tbody>
          </table>
    </div>

<!-- CI DESSUS LA DIV A IMPRIMER -->

    <div class="row endpage">

        <div class="well">
          <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
          <a href="{{ path('bllist') }}"><button class="btn btn-danger" style="width: 300px; height: 60px">Annuler</button></a>
        </div>
    </div>
    </div>

{% endblock %}
{% block stylesheets %}
    <style>
        body
        {
            margin:5%;
        }
        button {
            margin-top: 40px;
        }
    </style>
{% endblock %}
