{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Modifier un Client </h1>
    <div class="well">
        <div class="">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-success"type="submit" value="Confirmer" />
            {{ form_end(edit_form) }}
        </div>
        <br>
        <div>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer cette fiche">
            {{ form_end(delete_form) }}
        </div>
        <br>
        <a href="{{ path('clients_index') }}"><button class="btn btn-info" type="button" name="button">Revenir sur la liste</button></a>
  </div>
  </div>
{% endblock %}
