{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>ARTICLE</h1>
    <div class="well">
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Code Article</th>
                <td>{{ article.codeArt }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ article.libelleArt }}</td>
            </tr>
            <tr>
                <th>Famille</th>
                <td>{{ article.familleArt }}</td>
            </tr>
            <tr>
                <th>Prix HT</th>
                <td>{{ article.prixHTArt }}</td>
            </tr>
            <tr>
                <th>Prix TTC</th>
                <td>{{ article.prixTTCArt }}</td>
            </tr>
        </tbody>
    </table>
    <div class="">
    <a href="{{ path('articles_edit', { 'id': article.id }) }}"><button class="btn btn-primary"type="button" name="button">Modifier</button></a>
    </div>
    <br>
    <div>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
    </div>
    <br>
    <a href="{{ path('clients_index') }}"><button class="btn btn-info" type="button" name="button">Revenir sur la liste</button></a>

  </div>
</div>
</div>

{% endblock %}
